@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "mont";
    src: url("../public/Mont/Mont-Regular.ttf");
}
@font-face {
    font-family: "montSemiBold";
    src: url("../public/Mont/Mont-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "montBold";
    src: url("../public/Mont/Mont-Bold.ttf");
}
@font-face {
    font-family: "montHeavy";
    src: url("../public/Mont/Mont-Heavy.ttf");
}
@layer components {
    body {
        @apply font-mont;
    }
}
.dark-area {
    @apply bg-bgBlack text-white;
    background-image: url(../public/bg.png);
}
